:root,
* {
  --text-color: #fff;
  box-sizing: border-box;
  background-color: rgba(15, 23, 42, 1);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
}
/* MAIN */
main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* background-color: #f5f5f5; */
  background-color: rgba(15, 23, 42, 1);
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  max-width: 700px;
  margin: 0 auto;
  padding: 1rem;
}

/* HEADER */
header {
  max-width: 700px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1.3rem;
  margin-bottom: 3.2rem;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border: none;
}

header a {
  text-decoration: none;
  color: var(--text-color);
}

header a.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

header nav {
  display: flex;
  gap: 1rem;
}

/* ########################################################################## */
/* ############################      POST      ############################## */
/* ########################################################################## */
time,
.post-author,
.post,
.post-info,
.post-summary,
.post-title {
  background: #25272f;
}

.post-article {
  border: 1px solid #bfc1c9;
  background-color: #25272f;
  padding: 1rem;
  transition: transform 0.3s ease-out;
}

.post-article:hover {
  transform: scale(1.03);
}

.post-link {
  display: block;
  text-decoration: none;
  color: inherit;
  outline: none;
}

.post-header {
  color: #bfc1c9;
  margin: 0;
  background: #25272f;
}

time {
  font-family: 'Courier New', Courier, monospace;
  background: #25272f;
}
.post {
  margin-left: -1rem;
  margin-right: -1rem;
}

.post-img {
  max-width: 100%;
  height: auto;
  display: block;
}

.post-info {
  display: grid;
  gap: 1rem;
}

.post-title {
  font-size: 1.5rem;
}

.post-summary {
  color: #bfc1c9;
}

/* ########################################################################## */

/* LOGIN */
form.login,
form.register {
  margin: 0 auto;
  max-width: 400px;
}

input {
  margin-bottom: 0.3rem;
  width: 100%;
  padding: 0.4rem 0.6rem;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 0.3rem;
  background-color: #fff;
}

.submitbtn,
.registerbtn {
  width: 100%;
  background-color: #27344b;
  border: none;
  color: #fff;
  border-radius: 0.3rem;
  padding: 0.5rem;
}

.submitbtn:hover,
.registerbtn:hover {
  background-color: #334155;
}

form h1 {
  text-align: center;
}

.lr_input {
  background-color: #1e293bbf;
  border: none;
  color: #a1a1aa;
}

.lr_input:focus {
  outline: none;
  border: 1px solid gray;
}

.lr_input:hover,
.lr_input:active {
  border: 1px solid gray;
}

/* Loading Header */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
}

.theme-toggle img {
  width: 20px;
  height: 20px;
  fill: #0ea5e9;
}
