:root,
* {
  --text-color: #fff;
  --post-card-bg: rgb(20, 21, 24);
  --bg-dark: rgba(24, 24, 27, 1);
  box-sizing: border-box;
  background-color: var(--bg-dark);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  height: 100vh;

  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
}

/* HEADER */
header {
  max-width: 700px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1.3rem;
  margin-bottom: 3.2rem;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border: none;
}

header a {
  text-decoration: none;
  color: var(--text-color);
}

header a.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

header nav {
  display: flex;
  gap: 1rem;
}

/* ########################################################################## */
/* ############################      POST      ############################## */
/* ########################################################################## */
time,
.post-author,
.post,
.post-info,
.post-summary,
.post-title {
  background: var(--post-card-bg);
}

.post-article {
  background-color: var(--post-card-bg); /*#25272f;*/
  padding: 1rem;
  transition: transform 0.3s ease-out;
  border: 1px solid rgb(63, 63, 70);
  border-radius: 0.75rem;
}

.post-article:focus-within {
  outline: 1px solid #f97316;
  transition: 0.3s;
}

.post-article:focus-visible *,
.post-article:focus-within * {
  outline: none;
}

.post-article:hover {
  transform: scale(1.03);
  transition: 0.3s;
}

.post-link {
  display: block;
  text-decoration: none;
  color: inherit;
  outline: none;
}

.post-header {
  color: #bfc1c9;
  margin: 0;
  background: var(--post-card-bg);
}

.postpage--header time {
  font-family: 'Courier New', Courier, monospace;
  background: var(--bg-dark);
}
.post-img {
  margin-left: -1rem;
  margin-right: -1rem;
  max-height: 300px;
  overflow: hidden;
  background: var(--post-card-bg);
}

.post--imgage {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.post-info {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 4rem;
  row-gap: 1rem;
  margin-top: 1.5rem;
  outline: none;
  border: none;
}

.focus-with\:outline:focus-within {
  outline: 1px solid #f97316;
  transition: 0.3s;
}

.post-title {
  font-size: 1.875rem;
  margin-block-end: 0;
  margin-block-start: 0;
}

.post-summary {
  color: #bfc1c9;
}

.--ul-homepage {
  max-width: 750px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.post--section {
  position: relative;
}

.post-page {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.postpage--image-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.postpage--image {
  object-fit: cover;
  object-position: top;
  width: 100%;
  min-height: 240px;
  max-height: 500px;
  max-width: 1024px;
  height: auto;
  margin-bottom: -4rem;
}

.postpage--container {
  max-width: 900px;
  display: grid;
  grid-template-columns: 1fr min(900px, 100%) 1fr;
  margin-left: auto;
  margin-right: auto;
  row-gap: 10rem;
}

.post-container {
  grid-column: 2;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.postpage--header {
  display: block;
  max-width: 768px;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.postpage--title {
  font-size: 3rem;
  line-height: 1.25;
  margin: 0.75rem 0 1.2rem 0;
}

.postpage--divider {
  margin: 4rem -4rem;
  border-color: rgb(64, 64, 65);
}

.postpage--content {
  line-height: 1.7rem;
  font-size: 1.25rem;
  margin: 0 auto;
  width: 100%;
  max-width: 768px;
  letter-spacing: 0.025rem;
  color: #bfc1c9;
  font-weight: 300;
}

.postpage--gradient {
  width: 100%;
  height: 24rem;
  background-image: linear-gradient(266.93deg, #f8e42e 0%, #ff7d54 100%);
  max-width: 100%;
  margin-bottom: -10rem;
}
/* ########################################################################## */

/* ########################################################################## */
/* ###########################     HomePage      ############################ */
/* ########################################################################## */

.homepage--main {
  margin: 0 auto;
}
/* ########################################################################## */

/* LOGIN */
form.login,
form.register {
  margin: 0 auto;
  max-width: 400px;
}

input {
  margin-bottom: 0.3rem;
  width: 100%;
  padding: 0.4rem 0.6rem;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 0.3rem;
  background-color: #fff;
}

.submitbtn,
.registerbtn {
  width: 100%;
  background-color: #27344b;
  border: none;
  color: #fff;
  border-radius: 0.3rem;
  padding: 0.5rem;
}

.submitbtn:hover,
.registerbtn:hover {
  background-color: #334155;
}

form h1 {
  text-align: center;
}

.lr_input {
  background-color: #1e293bbf;
  border: none;
  color: #a1a1aa;
}

.lr_input:focus {
  outline: none;
  border: 1px solid gray;
}

.lr_input:hover,
.lr_input:active {
  border: 1px solid gray;
}

/* Loading Header */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
}

.theme-toggle img {
  width: 20px;
  height: 20px;
  fill: #0ea5e9;
}
